nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    height: 2rem;
    margin-bottom: 1rem;
}


ul{
    display: flex;
}

ul li{
    margin:0 0.5rem;
    list-style-type: none;
}